html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1150px;
  padding: 0 25px;
  margin: auto;
  height: 100%;
  width: 100%;
}
