.user {
  padding: 30px 0;
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  &__loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__card {
    padding: 30px 25px;
    background-color: #1d1d1d;
    border-radius: 8px;
    margin-top: 30px;

    &_xl {
      width: 100%;
    }

    &_l {
      width: calc((100% - 20px) * 0.75);
    }

    &_m {
      width: calc((100% - 20px) * 0.5);
    }

    &_s {
      width: calc((100% - 20px) * 0.25);
    }
  }

  &__coins {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
  }

  &__coins-icon {
    margin-right: 20px;
  }

  &__abonement-bar {
    height: 20px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    li {
      padding: 0;
      margin: 0;
      margin-bottom: 14px;
      display: flex;
      align-items: flex-start;
      &::before {
        content: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M15.9476 17.2991C15.9476 16.9993 15.7045 16.7562 15.4047 16.7562H3.60664C3.30684 16.7562 3.06378 16.9993 3.06378 17.2991V18.4572C3.06378 18.757 3.30684 19 3.60664 19H15.4047C15.7045 19 15.9476 18.757 15.9476 18.4572V17.2991Z' fill='%23FCFDF3'/%3E%3Cpath d='M7.79267 3.22095H8.92667V10.0971C8.92667 10.397 9.16965 10.64 9.46953 10.64C9.7694 10.64 10.0124 10.397 10.0124 10.0971V3.22095H11.267C11.5668 3.22095 11.8098 2.97797 11.8098 2.6781C11.8098 2.37822 11.5668 2.13524 11.267 2.13524H10.0124V0.542857C10.0124 0.242983 9.7694 0 9.46953 0C9.16965 0 8.92667 0.242983 8.92667 0.542857V2.13524H7.79267C7.4928 2.13524 7.24982 2.37822 7.24982 2.6781C7.24982 2.97797 7.49287 3.22095 7.79267 3.22095Z' fill='%23FCFDF3'/%3E%3Cpath d='M12.4525 4.74095C12.0475 4.74095 11.6376 4.78814 11.228 4.88123C10.9809 4.93739 10.8086 5.15714 10.8086 5.41055V10.6762C10.8086 11.3946 10.2241 11.979 9.50574 11.979C8.78735 11.979 8.20288 11.3946 8.20288 10.6762V5.41062C8.20288 5.15714 8.02453 4.93747 7.77742 4.8813C7.36789 4.78822 6.95337 4.74102 6.54832 4.74102C3.61081 4.74102 1.22021 7.12757 1.22021 10.061C1.22021 11.5706 1.85999 14.2135 3.06173 15.2494C3.16024 15.3343 3.28561 15.381 3.41575 15.381H15.5836C15.7136 15.381 15.8394 15.3343 15.9379 15.2494C17.1398 14.2135 17.7798 11.5707 17.7798 10.061C17.7799 7.1275 15.39 4.74095 12.4525 4.74095Z' fill='%23FCFDF3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        margin-right: 10px;
      }
    }
  }
}
