<div class="user">
  <div class="container" *ngIf="lessons; else userLoading">
    <div class="user__card user__card_xl">
      <h2 class="user__title">
        {{ userInfo.surname + " " + userInfo.name + " " + userInfo.middleName }}
      </h2>
    </div>
    <div class="user__card user__card_s">
      <h3 class="user__subtitle">Фишки</h3>
      <div class="user__coins">
        <img class="user__coins-icon" src="../../assets/img/coin.svg" alt="" />
        {{ userInfo.coins }}
      </div>
    </div>
    <div class="user__card user__card_l">
      <h3 class="user__subtitle">Абонемент</h3>
      <mat-progress-bar
        class="user__abonement-bar"
        [value]="abonementsVal"
        [color]="progressColor"
      >
      </mat-progress-bar>
    </div>
    <div class="user__card user__card_m">
      <h3 class="user__subtitle">Занятия на этой неделе</h3>
      <ul class="user__list">
        <li>Понедельник - 16:20</li>
        <li>Четверг - 15:30</li>
        <li>Суббота - 14:20</li>
      </ul>
    </div>
    <div class="user__card user__card_m">
      <h3 class="user__subtitle">Расписание занятий</h3>
      <app-user-calendar [lessons]="lessons"></app-user-calendar>
    </div>
  </div>
  <ng-template #userLoading>
    <mat-spinner class="user__loader"></mat-spinner>
  </ng-template>
</div>
