.user {
  display: flex;

  &__left {
    margin-right: 30px;
  }
  &__log-out {
    margin-left: auto;
    margin-top: 25px;
    display: block;
  }

  &__abonement {
    display: flex;
    align-items: center;
  }
  &__abonement-bar {
    margin-left: 20px;
  }
}
