.auth {
  padding: 20px 15px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 12px 1px #d8d8d8;

  &__input {
    display: block;
  }

  &__submit {
    margin-left: auto;
    display: block;
  }
}
